@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply flex justify-center items-center w-full h-full;
  }
}

@layer base {
  @font-face {
    font-family: Avenir;
    src: url("../public/assets/fonts/Impact-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Light.otf")
      format("truetype");
    font-weight: 300;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Medium.otf")
      format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Bold.otf")
      format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Heavy.otf")
      format("truetype");
    font-weight: 800;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue";
}

html {
  font-size: 12px;
  overflow-x: hidden;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  max-width: 430px;
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: "Helvetica Neue";
  font-size: 1.25rem;
  font-weight: 300;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1560px) {
  html {
    font-size: 18px;
  }
}
