@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply flex justify-center items-center w-full h-full;
  }
  /* just hero */
  .section:nth-of-type(2n) {
    @apply min-h-[90vh] my-[5vh] flex flex-col justify-center items-center mx-[2rem] md:flex-row-reverse md:mx-[6.25rem] md:justify-between;
  }
  .section:nth-of-type(2n):first-child,
  .section:nth-of-type(2n):last-child {
    @apply w-[100] md:w-[40%];
  }
  .section:nth-of-type(2n + 1) {
    @apply h-[90vh] my-[5vh] flex flex-col justify-center items-center mx-[2rem] md:flex-row md:mx-[6.25rem] md:justify-between;
  }
}

@layer base {
  @font-face {
    font-family: Avenir;
    src: url(../public/assets/fonts/Impact-Regular.ttf) format("woff");
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Medium.otf")
      format("otf");
    font-weight: 300;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Medium.otf")
      format("otf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Bold.otf")
      format("otf");
    font-weight: 700;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Heavy.otf")
      format("otf");
    font-weight: 800;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue";
}

html {
  font-size: 12px;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: "Helvetica Neue";
  font-size: 1.125rem;
  font-weight: 300;
}

/* 
  -- html for mobile size
@media screen and (max-width: 640px) {
  html {
    font-size: 12px;
  }
} 
*/

@media screen and (min-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/* @media screen and (min-width: 1280px) {
  html {
    font-size: 20px;
  }
} */
