@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Avenir;
    src: url(../public/assets/fonts/Impact-Regular.ttf) format("woff");
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Medium.otf")
      format("otf");
    font-weight: 300;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Medium.otf")
      format("otf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Bold.otf")
      format("otf");
    font-weight: 700;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("../public/assets/fonts/Helvetica Neue/HelveticaNeue-Heavy.otf")
      format("otf");
    font-weight: 800;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue";
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: "Helvetica Neue";
  font-size: 1.125rem;
  font-weight: 300;
}
